<!DOCTYPE html>
<html>
<head>
  <title>Fbcomments</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <script> 
  <%= yield (:javascript) %>
  </script>
</head>
<body>

  <%= fb_connect_async_js %>

<% if current_facebook_user !=nil %>
  <%= "Welcome #{@current_user.name}!"  if @current_user !=nil %>
  <%= fb_logout_link("Logout", request.url) %><br />
<% else
  # we must explicitly request permissions for facebook user fields.
  # we need to get user's email, groups, stream posts and post to groups or stream
  # also fb_login_and_redirect first parameter is redirect url after login attempt
  %>
  <%= fb_login_and_redirect( url_for(:action => 'create', :controller => 'home', :only_path => false),
      :perms => 'email,user_birthday,user_groups,read_stream, publish_stream') %>
<% end %>

<%= yield %>

</body>
</html>
